
#cookiePopup {
    background-color:rgb(9, 102, 44);
    opacity: 0.8;
    position:fixed;
    font-size: 14px;
    width: 70vw;
    max-width: 42.85em;
    box-shadow: 0 0 2em rgba(231, 230, 238, 0.5);
    font-family: "Poppins", sans-serif;
    text-align: justify;
    line-height: 1.8em;
    padding: 2em 1.4em;
    border-radius: 6px;
    transition: all 0.5s ease-in;
    z-index: 1000;
  }
  #cookiePopup img {
    display: block;
    width: 3.75em;
    transform: translateZ(0);
    position: relative;
    margin: auto;
  }
  #cookiePopup p {
    text-align: center;
    margin: 1.4em 0;
    color:#FFFF;
  }
  #cookiePopup button {
    background-color: #e6ea07;
    border: none;
    color: #0a0a0a;
    font-size: 1.2em;
    padding: 1em 1.4em;
    display: block;
    position: relative;
    margin: auto;
    border-radius: 5px;
  }
  #cookiePopup a {
    color: #f3e412;
    font-weight: 300px;
  }
  .hide {
    visibility: hidden;
    bottom: 0;
    right: 2em;
  }
  .show {
    visibility:visible;
    bottom: 2em;
    right: 2em;
  }
  .contador p{
    color:#FFFF;
  }
  @media only screen and (max-width: 37.5em) {
    #cookiePopup {
      width: 100%;
    }
    .hide {
      bottom: 2em;
      right: 0;
    }
    .show {
      right: 0;
      bottom: 0;
    }
  }
  /* Estilos para dispositivos de tamaño de tableta */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #cookiePopup {
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}